.buttons {
    margin: 5px;
}


.column1 {
    width: 55%;
    justify-content: center;
    /* padding-left: 10px; */
}

.column2 {
    width: 15%;
    justify-content: center;
}

.imageContainer {
    position: relative;
    height: 20vh;
    width: 100%;
}

.routineRowContainer {
    padding: 5px 0;
}

.routineRowContent {
    padding: 5px 5px;
}

.routineRowExpanded {
    padding: 5px 5px;
    border-bottom: 2px solid lightslategrey;
}

.routineTitles {
    padding: 20px 5px;
    font-weight: 700;
}