.buttons {
    margin: 5px;
}


.column1 {
    width: 55%;
    justify-content: center;
    /* padding-left: 10px; */
}

.column2 {
    width: 15%;
    justify-content: center;
}

.noData {
    color: orange;
    font-size: 24px;
}

.routineRowContainer {}

.routineRowContent {
    padding: 5px 5px;
}

.routineRowExpanded {
    padding: 5px 5px;
    border-bottom: 1px solid black;
}

.tableTitles {}