.column1 {
    width: 55%;
    justify-content: center;
    padding-left: 10px;
}

.column2 {
    width: 15%;
    justify-content: center;
}

.column3 {
    width: 15%;
    justify-content: center;
}

.column4 {
    width: 15%;
    justify-content: center;
}