.main-layout {
    background-color: gray;

    .main-wrapper {
        background-color: seashell;
        max-width: 1116px;
        min-width: 320px;

        .content {
            padding: 0 15px;
        }
    }
}
